on init
    chown system system /sys/class/meizu/tp/gesture_control
    chmod 0660 /sys/class/meizu/tp/gesture_control

    mkdir /dev/vendor.lineage.touch@1.0
    chown system system /dev/vendor.lineage.touch@1.0
    chmod 0755 /dev/vendor.lineage.touch@1.0

service vendor.touch-hal-1-0-meizu_m1882 /vendor/bin/hw/vendor.lineage.touch@1.0-service.meizu_m1882
    class hal
    user system
    group system
