service vendor.livedisplay-hal-2-0-meizu_m1882 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.meizu_m1882
    class late_start
    user system
    group system

on post-fs-data
    mkdir /data/vendor/display
    chown system system /data/vendor/display

on property:sys.boot_completed=1
    exec - system system -- /vendor/bin/vendor.lineage.livedisplay@2.0-init.sh
