service vendor.fingerprint-inscreen-1-0-meizu_m1882 /vendor/bin/hw/vendor.pa.biometrics.fingerprint.inscreen@1.0-service.meizu_m1882
    interface vendor.pa.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
