service vendor.fingerprint-inscreen-1-0-meizu_sdm845 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.meizu_sdm845
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
